@model MasteringEFCore.MultiTenancy.Final.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishedDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishedDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitorCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitorCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TagNames)
        </dd>
        @if (!Model.FileId.Equals(Guid.Empty))
        {
            <dt>
                @Html.DisplayNameFor(model => model.FileId)
            </dt>
            <dd>
                <a asp-controller="Files" asp-action="Get" asp-route-id="@Model.FileId">@Model.FileName</a>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
